.lancamento{padding:10px; padding-left:20px; height:30px; border-bottom:1px solid #eaeaea;}

.lancamento:hover{background-color:#eaeaea;}
.lancamento:active{background-color:#eaeaea;}

.lancamento-valor{float:left; font-size:0.8em;  width:80px; padding-top:7px;}
.lancamento-texto{float:left;}
.lancamento-texto .texto-principal{font-size:0.8em; font-weight: bold; display:block;}
.lancamento-texto .descricao{font-size:0.5em;  display:block;}

.resumo{background-color:#eaeaea; color:black; padding:10px; font-size:14px; padding-left:20px; padding-right:20px;}
.extrato-resumo-valor{ font-size:1em; font-weight: bold; display:block;}
.extrato-resumo-descricao{font-size:0.8em; display:block;}

#extrato-receitas{color:green;}
#extrato-despesas{color:red;}

.data{
	background-color:#E0E0E0;
	
	font-size:14px;
	color:black;
}
.meses{padding:10px 0 10px 0;}
.meses:hover, .meses:active{
	background-color: #CDCDCD;
	
}